{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'cv/css/cv.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center mt-2 mb-2 g-0">
            <div class="col-md-4">
                <div id="skill-list-conatiner">
                    <div id="name-title-image-div">
                        <div id="name-desination">
                            <div id="name">
                                John Doe
                            </div>
                            <div id="title">
                                Director of Hospitality Operations
                            </div>
                        </div>
                       
                        <div id="image-div">
                            <a href="https://unsplash.com/photos/an-aerial-view-of-a-desert-at-sunset-YeLs9lJDx9M" target="_blank"><img src="{{MEDIA_URL}}/media/unsplash.jpg" class="img-thumbnail rounded-circle profile-pic" alt="unsplash"></a>
                            <p style="font-size: small;">Photo source: <a href="https://unsplash.com/photos/an-aerial-view-of-a-desert-at-sunset-YeLs9lJDx9M" target="_blank">Unsplash</a></p>
                        </div>
                       
                    </div>
                    
                    <hr>
                    <div class="div_header">
                        Profile:
                    </div>
                    <div class="about-me">
                        With a solid foundation in hospitality gained from years of experience as a receptionist,
                        I have transitioned into a dynamic role as a Director of Hospitality Operations. My journey in the 
                        hospitality industry has equipped me with a deep understanding of guest needs 
                        and a passion for delivering exceptional service.

                        As a receptionist, I honed my interpersonal and communication skills, 
                        welcoming guests with warmth and professionalism while efficiently 
                        managing inquiries and requests. This frontline experience instilled in me
                        the importance of attention to detail and the ability to thrive 
                        in a fast-paced environment.

                        Now as a hotel manager, I bring a strategic mindset and a hands-on
                        approach to overseeing all aspects of hotel operations. 
                        I am dedicated to creating memorable experiences for
                        guests and fostering a positive work culture for staff.
                        My goal is to ensure the seamless functioning of the hotel while continuously striving for excellence in guest satisfaction and operational efficiency.

                        Driven by a commitment to excellence and a genuine love for the 
                        hospitality industry, I am excited to leverage my skills and experience
                        to contribute to the success and growth of our hotel.
                    </div>
                    <hr>
                    <div class="div_header">
                        Contact:
                    </div>
                    <div class="content" id="contact">
                        <div>
                            <i class="fa-regular fa-envelope"></i> Email addres 
                        </div>
                        <div>
                            <i class="fa-solid fa-phone"></i> Mobile number
                        </div>
                        <div>
                            <i class="fa-solid fa-location-dot"></i> Address
                        </div>
                        <div>
                            <i class="fa-brands fa-github"></i> <a href="https://github.com/Ceenuggets/Simple-Online-CV" target="_blank">Github</a>
                        </div>
                        <div>
                            <i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/rayeke/" target="_blank">LinkedIn</a>
                        </div>
                    </div>
                    <hr>
                    <div class="div_header">
                        Education:
                    </div>
                    <div class="content">
                        Your degree,<br>
                        Your course of study,<br>
                        Your school,<br>
                        School Location [Year]
                    </div>
                    <hr>
                    <div class="div_header">
                        Skills:
                    </div>
                    <div class="content">
                        Proficient in managing  the following tools:
                        <ul>
                            <li>Revenue Management System (RMS)</li>
                            <li>Customer Relationship Management (CRM) Software</li>
                            <li>Housekeeping Management Software</li>
                            <li>Point of Sale (POS) System</li>
                            <li>Channel Manager</li>
                            <li>Property Management System (PMS)</li>
                            <li>Employee Scheduling Software</li>
                            <li>Maintenance Management Software</li>
                            <li>Guest Feedback and Reputation Management Tools</li>
                            <li>Analytics and Reporting Tools</li>
                        </ul>
                    </div>
                    <div class="content">
                        Effective use of:
                        <ul class="custom-list">
                            <li>Multi-Line Phone System management</li>
                            <li>Computer Reservation System (CRS)</li>
                            <li>Electronic Document Management System</li>
                            <li>Calendar and Scheduling Software</li>
                            <li>Visitor Management System</li>
                            <!-- <li>Key Card System</li> -->
                            <li>Language Translation Tools</li>
                        </ul>
                    </div>
                    <div class="content">
                        <ul class="custom-list2">
                            <li>Capacity to develop and implement strategic plans to achieve organizational goals</li>
                            <li>Managing all aspects of hotel operations, including front desk, guest services, etc</li>
                            <li>Good interpersonal skills</li>
                            <li>Good leadership Skills</li>
                            <li>Dedication to delivering exceptional guest experiences</li>
                            <li>Commitment to maintaining high standards of cleanliness</li>
                            <li>Good problem solving skills</li>
                            <li>Flexibility to adapt to changing circumstances</li>
                        </ul>
                        
                    </div>
                    <hr>
                </div>
            </div>
            <div class="col-md-6"> 
                <div id="work-experiance-div">
                    <div class="work-experience">
                        <h4>WORK EXPERIENCE</h4>
                    </div>
                    <hr>
                    <div id="company-name">
                        <strong>ABC Hotels Limited </strong><br>
                    </div>
                    <div class="caption">
                        Director of Hospitality Operations
                    </div>
                    <span class="exp-year">2023 - Present</span>
                    <div id="intro"> 
                        Responsibilities:
                    </div>
                    
                    <div class="points">
                        <div><i class="fa-solid fa-angle-right"></i> Oversees front desk operations, check-in/out, and guest services</div>
                        <div><i class="fa-solid fa-angle-right"></i> Manages housekeeping staff, ensuring room cleanliness</div>
                        <div><i class="fa-solid fa-angle-right"></i> Coordinates food and beverage services, including restaurant and catering</div>
                        <div><i class="fa-solid fa-angle-right"></i> Handles guest feedback, ensuring satisfaction</div>
                        <div><i class="fa-solid fa-angle-right"></i> Manages revenue strategies, adjusting rates and inventory</div>
                        <div><i class="fa-solid fa-angle-right"></i> Supervises maintenance, ensuring safety standards</div>
                        <div><i class="fa-solid fa-angle-right"></i> Orchestrates banquet and event operations</div>
                        <div><i class="fa-solid fa-angle-right"></i> Manages spa facilities, ensuring guest satisfaction</div>
                        <div><i class="fa-solid fa-angle-right"></i> Ensures safety and security, developing protocols</div>
                        <div><i class="fa-solid fa-angle-right"></i> Coordinates staff training for exceptional service</div>
                        <div><i class="fa-solid fa-angle-right"></i> Monitors operations for quality and guest satisfaction</div>
                        <div><i class="fa-solid fa-angle-right"></i> Oversees special event planning for guest satisfaction</div>
                    </div>
                    <hr>
                    <br>
                    <div id="company-name">
                        <strong>LMN Global Services Limited</strong><br>
                    </div>
                    <div class="caption">
                        Hospitality Operations Manager
                    </div>
                    <span class="exp-year">2022</span>
                    
                    <div id="intro"> 
                        Responsibilities:
                    </div>
                        
                    <div class="points">
                        <div><i class="fa-solid fa-angle-right"></i> Implemented guest experience enhancements, ensuring memorable stays</div>
                        <div><i class="fa-solid fa-angle-right"></i> Oversaw procurement of hotel supplies and equipment</div>
                        <div><i class="fa-solid fa-angle-right"></i> Managed budgeting and financial performance of hotel operations</div>
                        <div><i class="fa-solid fa-angle-right"></i> Developed and implemented sustainability initiatives</div>
                        <div><i class="fa-solid fa-angle-right"></i> Collaborated with marketing team to promote hotel offerings</div>
                        <div><i class="fa-solid fa-angle-right"></i> Established and maintained relationships with local vendors and partners</div>
                        <div><i class="fa-solid fa-angle-right"></i> Implemented health and safety protocols, ensuring compliance with regulations</div>
                        <div><i class="fa-solid fa-angle-right"></i> Conducted performance evaluations and provided feedback to staff</div>
                        <div><i class="fa-solid fa-angle-right"></i> Led crisis management and emergency response efforts</div>
                        <div><i class="fa-solid fa-angle-right"></i> Represented the hotel in industry associations and community events</div>
                    </div>
                    <hr>
                    <br>
                    <div id="company-name">
                        <strong>XYZ Logistics Limited </strong><br>
                    </div>
                    <div class="caption">
                        General Administrative Support
                    </div>
                    <span class="exp-year">2021</span>
                    
                    <div id="intro"> 
                        Responsibilities:
                    </div>
                        
                    <div class="points">
                        <div><i class="fa-solid fa-angle-right"></i> Managed guest services and hospitality functions</div>
                            <div><i class="fa-solid fa-angle-right"></i> Assisted with planning and organizing company events, meetings, or conferences</div>
                            <div><i class="fa-solid fa-angle-right"></i> Provided administrative support to various departments or executives within the company</div>
                            <div><i class="fa-solid fa-angle-right"></i> Acted as the first point of contact for customer inquiries, resolving issues or complaints</div>
                            <div><i class="fa-solid fa-angle-right"></i> Oversaw the day-to-day operations of the office, including managing administrative staf</div>
                            <div><i class="fa-solid fa-angle-right"></i> Supported senior executives or high-level managers with administrative tasks</div>
                            <div><i class="fa-solid fa-angle-right"></i> Coordinated office services such as maintenance and cleaning, overseeing office budgets</div>
                            <div><i class="fa-solid fa-angle-right"></i> Handled scheduling appointments, coordinating meetings, and managing office supplies</div>
                            <div><i class="fa-solid fa-angle-right"></i> Managed office correspondence, including sorting and distributing mail and emails</div>
                            <div><i class="fa-solid fa-angle-right"></i> Maintained filing systems and organized documents and records for easy access</div>
                    </div>
                        
                        
                    <hr>
                    <br>
                    <div id="company-name">
                        <strong>PQR Services Limited </strong><br>
                    </div>
                    <div class="caption">
                        Receptionist
                    </div>
                    <span class="exp-year">2018-2019</span>
                    
                    <div id="intro"> 
                        Responsibilities:
                    </div>
                        
                    <div class="points">
                        <div><i class="fa-solid fa-angle-right"></i> Greeted visitors and directed them to the appropriate departments or individuals</div>
                        <div><i class="fa-solid fa-angle-right"></i> Managed a multi-line phone system, answering and transferring calls as needed</div>
                        <div><i class="fa-solid fa-angle-right"></i> Provided excellent customer service by assisting customers with inquiries and requests</div>
                        <div><i class="fa-solid fa-angle-right"></i> Handled administrative tasks such as filing, data entry, and document preparation</div>
                        <div><i class="fa-solid fa-angle-right"></i> Scheduled appointments and maintained calendars for executives or staff members</div>
                        <div><i class="fa-solid fa-angle-right"></i> Coordinated travel arrangements and accommodations for company employees</div>
                        <div><i class="fa-solid fa-angle-right"></i> Assisted with planning and organizing company events, including logistics and coordination</div>
                        <div><i class="fa-solid fa-angle-right"></i> Managed inventory of office supplies and placed orders as needed</div>
                        <div><i class="fa-solid fa-angle-right"></i> Assisted with human resources tasks such as onboarding new employees and maintaining personnel records</div>
                        <div><i class="fa-solid fa-angle-right"></i> Supported other departments with ad-hoc tasks and projects as required</div>
                    </div>
                    <hr>
                    <strong>Referees:</strong>
                    <div class="references">
                        
                        
                        <div>
                            <div class="points references-info">
                               <span class="reference-name">Name</span>
                               <span class="reference-admobile">Email address</span>
                               <span class="reference-admobile">Mobile number</span>
                            </div>
                        </div>
                        <div>
                            <div class="points references-info">
                                <span class="reference-name">Name</span>
                                <span class="reference-admobile">Email address</span>
                                <span class="reference-admobile">Mobile number</span>
                            </div>
                        </div>
                    </div>
                   
                    
                        
                </div>
            </div>

        </div>
    </div>
</div>
    
</body>
</html>